@use '~@chrisofnormandy/confetti/themes.scss' as *;

@each $p, $palette_map in $palettes {
    @include define-theme($p) {
        @each $i, $_ in $palette_map {
            @include scheme-var('palette-#{$i}', palette($p, $i));
            @include scheme-var('palette-#{$i}_inverse', palette-inverse($p, $i));
            @include scheme-var('palette-#{$i}_compliment', palette-compliment($p, $i));
        }
    }

    @include themed($p) {
        @each $i, $_ in $palette_map {
            .color-#{$i} {
                @include fill('palette-#{$i}');
                @include border('palette-#{$i}');
                @include shadow('palette-#{$i}');
            }

            .color-#{$i}-inverse {
                @include fill('palette-#{$i}_inverse');
                @include border('palette-#{$i}_inverse');
                @include shadow('palette-#{$i}_inverse');
            }

            .color-#{$i}-compliment {
                @include fill('palette-#{$i}_compliment');
                @include border('palette-#{$i}_compliment');
                @include shadow('palette-#{$i}_compliment');
            }
        }
    }
}

table {
    border-spacing: 0;

    .palette {
        padding: 10px;
        text-align: center;
    }
}